    <nav class="#43a047 green darken-1 white-text">   
            <a href="#!" class="brand-logo right" style="margin-right:2%">hnr-toolkit</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="nav-wrapper">

                
            <ul class="left hide-on-med-and-down">
                <li><a href="#">blog</a></li>
                <li><a href="#">todo</a></li>
                <li><a href="#">timer</a></li>
                <li><a href="#">nosmoke</a></li>
            </ul>
            
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">blog</a></li>
                <li><a href="#">todo</a></li>
                <li><a href="#">timer</a></li>
                <li><a href="#">nosmoke</a></li>
            </ul>
            </div>
    </nav>