
    <head>
        
        {% include 'snipets/css.html' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block title%}<title> hnr-toolkit </title>{% endblock title %}
        
        <!--Explicitar que el sitio esta optimizado para movil-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        
        {% block head %}  
        {% endblock head %}
    </head>




<body>
    {% block body %}
        {% include  'snipets/js.html'%} 
        <script>
          $(document).ready(function(){
                $(".button-collapse").sideNav();
        })
        </script>
        {% endblock body%}
       
</body>


